NODE_ENV="production"
ALLOW_ORIGINS=
BACKEND_API=
FRONTEND_APPLICATION_CLIENT=
FRONTEND_APPLICATION_KEY=

NEXT_PUBLIC_OPENCEP_API="https://opencep.com/v1"
NEXT_PUBLIC_APPLICATION_URL="http://localhost:3000"
NEXT_PUBLIC_ROBOTS_INDEX="false"
